# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# PyCharm
.idea/

# VS Code
.vscode/

# Archivos temporales
*.swp
*.bak
*~

# Archivos exportados
*.xlsx
*.csv
*.html